html{
    scroll-behavior: smooth;
    max-height: 2200px;
}

.the-main-container{
    max-width: 1022.77px;
    min-height: 2500px;
    margin: -15px 10% 25px 10%; 
    box-shadow: 0 0 10px black;
    padding: 0px 0px 20px 120px;

}

figure{
    position: relative;
}

a{
    text-decoration: none;
    color: black
}

.favoriteIcon{
    position: absolute;
    top:10px; 
    left:110px; 
    height: 30px; 
    width: 30px;
}

.arrow-container{
    position: relative;
}

.water-mark{
    font-weight: bold; 
    margin-top: -5px; 
    color: #f75c49;
}

.all-rights{
    font-style: italic; 
    margin-top: -5px; 
    color: #f75c49;
}

figure p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: -18px;
    margin-left: 15px;
    font-family: arial;
}

.wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 18%);
}

.wrapper > figure {
    border: orange;
    border-radius: 50%;
}

.header-wrapper { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
} 

.header-wrapper div:first-child{ 
    flex: 1;  
    display: block;
    align-self:center;
} 

.header-wrapper div:last-child{ 
    flex: 1;
    /* display: flex; */
    /* align-self:center; */
    justify-self: flex-end;
    margin-top: 2%;
    /* margin-left: 310px; */
}

.header-wrapper div:last-child input{ 
    margin-left:28%; 
    margin-top:2%;
}

.after-header-navbar{
    display: flex;
    flex-direction: row;
}

.after-header-navbar div:first-child{
    flex:3;
    align-self:center;
}

.after-header-navbar div:last-child{
    flex: 1;
    align-self: flex-end;
}

.after-header-navbar__items{
    display: table-cell;
    white-space: nowrap;
}

.info-below-fav{ 
    max-width: 75%
}
.header-style{
    color:white;
    font-size: 45px;
    text-shadow: black 1px 1px 0, #f75c49 -1px -1px 0, 
                 #f75c49 -1px 1px 0,#f75c49 1px -1px 0;
}

.header-style-hover:hover {
    text-shadow: black 1px 1px 0, #f75c49 -1px -1px 0, 
                 #f75c49 -1px 1px 0,#f75c49 4px -1px 0;
    cursor: pointer;
}

.footer-container{
    width: 90%;
    height: auto;
    text-align: center;
    margin-left: -7.5%;
    /* background-color: ivory; */
}

.circular--portrait {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    border:3px solid #f99589;
    border-radius: 60px;
}

.scale{
    position: relative;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a:hover{
      cursor: pointer;
  }

  .active {
    background-color: #c42e1a;
    color: white;
  }
  
  a:hover:not(.active) {background-color: #f99589;}


.scale:hover {
    transition: 0.6s;
    transform: scale(1.1);
    border-color: #c42e1a;
    cursor: pointer;
}

.arrow-right{
    position: absolute; 
    margin-left: 90%;  
    margin-top: -125px; 
}

.arrow-right:hover{
     transform: scale(1.2);
     cursor: pointer;
}

.arrow-left{
    position: absolute; 
    left: -30px; 
    top:80px;
}

.arrow-left:hover{
     transform: scale(1.2);
     cursor: pointer;
}

hr{
    width: 40%;
    margin-top: 2.5%;
    margin-left: 17.5%;
}

nav a{
    color: grey;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: black;
}

.aside-position{
    position:absolute;
    left: 65%;
    background-color: black;
}

.aside-button{
    margin-left: -25%;
    padding: 12px 36px;
    background: white;
    border-color: rgba(247,106,109,255);
    font-weight: bold;
    color: rgba(247,106,109,255);
}
.aside-button-label{
    font-weight: bold; 
    font-size: 18px;
}
.animation:hover {
    background-color:#f75c49;
    color: white;
}

.search-button{
    margin-right: 1%;
    background: white;
    border-color: rgba(247,106,109,255);
    color: rgba(247,106,109,255);
}

.button-queue{
    margin-right: 10px;
    background: transparent;
    border: transparent;
    color: rgba(247,106,109,255);
    font-size: 18px;
}

.button-queue2{
    margin-right: 10px;
    background: transparent;
    border: transparent;
    color: #89b4cd;
    font-size: 18px;
}

.button-queue, .button-queue2:hover{
    cursor: pointer;
}

.button-queue:hover{
    color:#c42e1a;
}

.button-queue2:hover{
    color:#548eaa;
}

#selectionForSearch{
    position: absolute; 
    margin-top: 29.5px; 
    margin-right: -5%;
    width: 100px;
}

.section-size{
    padding: 5px;
}

.input-style{
    margin-left: 18px;
    margin-right: 8px;
    width: 160px;
    height: 25px;
    color: #f75c49;
    font-family: arial;
    /* font-weight: bold; */
    border-color: #f75c49;
    border-radius: 10px;
}

.label-style{
    color: grey;
    font-family:Arial;
    font-size: 16px;
    font-weight:normal;
}

.label-animation:hover {
    color: black;
}

.name-layout{
    text-align: center;
}

.country-name{
    font-size: 12.5px;
    font-weight: normal;
}

#btnLeft:active {
    background-color: aqua;
}

#border {
    border:3px dashed white;
    border-radius:100px;
    width:184px;
    height:184px;
    position:relative;
    left:5px;
    top:5px;
}

#image {
    width:180px;
    height:200px;
    border-radius:100px;
}​

/* TABLEEEEEEEEEEEEEEEEEEEE */

.table-wrapper{
    margin: auto;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 85%;
    /* max-width: 75%; */
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align:center;
    padding: 8px;
}


.fl-table td:first-child, .fl-table th:first-child {
    text-align:left;
}

.fl-table td {
    /* border-right: 1px solid #f8f8f8; */
    font-size: 15px;
}

.fl-table thead th {
    color: black;
    background: white;
    font-family: Arial; 
    font-size: 17px;
}

.fl-table thead th:nth-child(odd) {
    color: black;
    background: white;
}


.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.fl-table thead tr th {
    font-weight: normal;
}

.lower-border{
    border-bottom:1px solid black;
}

.table-wrapper .fl-table thead tr th:hover{
    background-color: rgba(250,250,250,255);
    cursor: pointer;
    border-bottom: 4px solid black;
}


/* TABLEEEEEEEEEEEEEEEEEEEE */

.h1-style{
    text-align: center;
    margin-left: -275px;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 31px;
}


/* POPUP */


.overlay {
    position:fixed;
    top: 0;
    margin-left: -250px;
    margin-top: -80px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
    height: 1000px;
    width: 2000px;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  


  .popup {
    margin: 180px auto;
     padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 45%;
    position: relative;
    transition: all 1s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #f75c49;
  }
  .popup .content {
    margin-left: 1.5%; 
    max-height: 25%;
    overflow: auto;
  }

  .popup-header{
    text-align: center; 
    font-weight: normal; 
    font-size: 35px;
  }

  .popup-image{
    margin-left: 8%;
  }

  .popup-name{
    margin-left:0px;
  }

  .popup-label{
    font-size: 16px;
  }

  .popup-email-label{
    color: #89b4cd; 
    font-size: 16px;
  }

  .fav-icon-shallow{
    position: absolute; 
    margin-top: -3px; 
    margin-left: 100px;
    height: 30px; 
    width: 30px;
  }

  .fav-icon-shallow:hover{
      cursor: pointer;
  }

  .toggle-map{
    color:#89b4cd; 
    margin-left: 1.5%;
    text-decoration: underline; 
    text-decoration-style: dashed;
  }

/* POPUP */

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: -5% ;
}

.wrapper2 > div {
    padding: 1em;
    /* background-color:orange; */
    border: orange;
    border-radius: 10%;
}

.wrapper2 > div:last-child {
    margin-left: -50px;
}

/* POPUP2 */
.input-wide > div > input{
    width: 220px;
    height: 0.8cm;
  }
  
  .popup-button{
      background: white;
      border-color: rgba(247,106,109,255);
      color: rgba(247,106,109,255);
      width: 220px;
      height: 40px;
  }
  
  .form-center{
    margin-left: 12.5%;
    font-family: Arial;
  }
  
  form div{
      margin-bottom: 15px;
  }

  select{
    width: 230px; 
    height: 0.75cm;
  }

  fieldset{
    border-color: transparent; 
    margin-left: -5%;
  }

  .choice-male{
    margin-left: 50px;
  }

  #color-picker{
    width: 40px; 
    height: 14px; 
    margin-left: 55px;
  }

  .overlay2 {
    position:fixed;
    top: -6%;
    bottom: 0;
    left: -15%;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
    height: 1000px;
    width: 2000px;
  }
  .overlay2:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup2 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 15%;
    position: relative;
    transition: all 1s ease-in-out;
  }
  
  .popup2 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup2 .close:hover {
    color: #f75c49;
  }
  .popup2 .content {
    overflow: auto;
    margin-left: 1.5%; 
    max-height: 25%;
  }
  
  .popup-add-header{
    text-align: center; 
    font-weight: normal; 
    font-family:Arial; 
    font-size: 28px;
  }

  .search-button-down{
    width: 230px; 
    height: 50px; 
    font-weight: bold; 
    font-size: 25px;
  }

/* POPUP2 */

@media screen and (max-width:1290px){
    html{
        width: 910px;
        max-height: 800;
        /* overflow-y: hidden; */
        /* overflow-x: hidden; */
    }

    .the-main-container{
        box-shadow: none;
        width: 100%;
        margin: 15px 200px auto 200px;
        /* padding: auto;
        margin: -15px 10% 25px 10%; 
        box-shadow: 0 0 10px black; */
        padding: 0px 0px 20px 120px;
    }

    .wrapper {
        margin-left: -30px;
        display: grid;
        grid-template-columns: repeat(3, 25%);
    }
    .wrapper > figure {
        border: orange;
        border-radius: 50%;
    }
    .h1-style{
        text-align: center;
        /* margin-left: 55%; */
        font-weight: normal;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 31px;
    }
    /* .header-wrapper section:last-child input{ 
        margin-left:150px; 
        margin-top:2%
    } */
    .search-button{
        margin-left: 125px;
    }
    hr{
        width: 40%;
        margin-top: 2.5%;
        /* margin-left: 58%; */
    }
    

    .search-button{
        margin-left: 0%;
    }

    .aside-button{
        margin-left: -18%;
        padding: 6px 30px;
        /* display: inline-block;*/
    }
    
    .fl-table {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 600px;
        /* max-width: 75%; */
        white-space: nowrap;
        background-color: white;
    }

    .wrapper p{
        text-align:left;
    }

    .arrow-right{
        display: none;
    }
    .arrow-left{
        display: none;
    }
    .overlay {
        position:absolute;
        top: 0;
        margin-left: -385px;
        margin-top: -80px;
        bottom: 0;
        left: 0;
        right: 0;
        background:transparent;
        /* transition: opacity 500ms; */
        visibility: hidden;
        opacity: 0;
        height: 1000px;
        width: 2000px;
      }
      .overlay2 {
        position:absolute;
        top: 0%;
        bottom: 0;
        left: -380px;
        right: 0;
        background: floralwhite;
        /* transition: opacity 500ms; */
        visibility: hidden;
        opacity: 0;
        height: 3000px;
        width: 2000px;
      }
      #pop-up-add-button{
          margin-left: 0px;
      }

}

.test{
    background-color: #c42e1a;
}